{% extends "layout.html" %}
{% block title %}{{ super() }} - Home{% endblock title %}
{% block content %}
    <div class="hero-unit">
        <h1>Check your sites!</h1>
        <p>Take screenshots of a given url many browser and OS combinations</p>
        <p>
            <a href="{{ url_for('.new') }}" class="btn btn-primary btn-large">Begin</a>
        </p>
    </div>
    <div class="row">
        {% for j in jobs %}
            <a href="{{ url_for('.job_detail', _id=j.id) }}">Job {{ j.id}}</a>
        {% endfor %}
    </div>
{% endblock content %}
