{% extends "layout.html" %}
{% block title %}{{ super() }} - Home{% endblock title %}
{% block content %}
    <div class="hero-unit">
        <h1>Check your sites!</h1>
        <p>Take screenshots of a given url in many browser and OS combinations</p>
        <p>
            <a href="{{ url_for('.new') }}" class="btn btn-primary btn-large">Begin</a>
        </p>
    </div>
    {% if jobs %}
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Check URL</th>
                        <th># of checks</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for j in jobs %}
                        <tr>
                            <td><a href="{{ url_for('.job_detail', _id=j.id) }}">{{ j.id}}</a></td>
                            <td>{{ j.url }}</td>
                            <td>{{ j.checks.count()}}</td>
                            <td class="status status-{{ j.status.lower() }}">{{ j.status }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock content %}
