{% extends "layout.html" %}
{% block title %}{{ super() }} - Job {{ job.id }}{% endblock title %}
{% block content %}
    <div class="row">
        {% for check in job.checks %}
            <div class="thumbnail right-caption span12"> 
                <img class="span8" src="data:image/png;base64,{{ check.screenshot }}"/>
                <div class="caption">
                    <h5>{{ job.url }}</h5>
                    <p>{{ check.browser_name|capitalize }} {{ check.version }}</p>
                    </dl>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
