{% extends "layout.html" %}
{% block title %}{{ super() }} - {{ job.title }}{% endblock title %}
{% block content %}
    {% for url, checks in job.checks|groupby('url') %}
        <div class="row">
            <h3>{{ url }}</h3>
            <ul class="thumbnails">
                {% for check in checks %}
                    <li class="span4">
                        <div class="thumbnail">
                            <div class="thumbnail-container">
                                <img src="{{ url_for('.screenshot', check_id=check.id) }}"/>
                            </div>
                            <div class="caption">
                                <p>{{ config['BROWSER_LABELS'][check.browser_name] }} {{ check.version }} on {{ config['PLATFORM_LABELS'][check.platform] }}</p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock content %}
