{% extends "layout.html" %}
{% block title %}{{ super() }} - New{% endblock title %}
{% block content %}
    <div class="row">
        <div class="span10 offset1"> 
            <form class="form-inline well" method="POST">
                {{ form.hidden_tag() }}
                {{ form.url(class="span8", placeholder="http://www.google.com") }}
                <button type="submit" class="btn">Start</button>
                <ul class="unstyled">
                    {% for value, name in form.checks.choices %}
                        <li>
                            <label class="checkbox">
                                <input name="checks" type="checkbox" value="{{ value }}" />
                                {{ name }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
{% endblock content %}
